<section class="graduates">
  <div class="container">
    <h2 class="reviews-title">Отзывы выпускников</h2>
    <div class="slider">
      <div class="reviews-card slick-slide">
        <div class="reviews-card-img-wrapper">
          <picture class="reviews-card-picture">
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.webp    1x,
                ./images/reviews/reviews-tablet-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.jpg    1x,
                ./images/reviews/reviews-tablet-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.webp    1x,
                ./images/reviews/reviews-mobile-1@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.jpg    1x,
                ./images/reviews/reviews-mobile-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews-card-img"
              src="./images/reviews/reviews-mobile-1.jpg"
              alt="студентка Тоня Кучеровская"
            />
          </picture>
          <a href="#" class="reviews-card-link">
            <svg
              class="reviews-card-icon"
              width="30"
              height="30"
              aria-label="Иконка Вконтакте"
            >
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews-text-wrapper">
          <h3 class="reviews-card-title">Тоня Кучеровская</h3>
          <p class="reviews-card-subtitle">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="reviews-card-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a class="reviews-text-link" href="#">Читать дальше</a>
          </p>
        </div>
      </div>
      <div class="reviews-card slick-slide">
        <div class="reviews-card-img-wrapper">
          <picture class="reviews-card-picture">
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.webp    1x,
                ./images/reviews/reviews-tablet-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.jpg    1x,
                ./images/reviews/reviews-tablet-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.webp    1x,
                ./images/reviews/reviews-mobile-1@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.jpg    1x,
                ./images/reviews/reviews-mobile-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews-card-img"
              src="./images/reviews/reviews-mobile-1.jpg"
              alt="студентка Тоня Кучеровская"
            />
          </picture>
          <a href="#" class="reviews-card-link">
            <svg
              class="reviews-card-icon"
              width="30"
              height="30"
              aria-label="Иконка Вконтакте"
            >
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews-text-wrapper">
          <h3 class="reviews-card-title">Тоня Кучеровская</h3>
          <p class="reviews-card-subtitle">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="reviews-card-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a class="reviews-text-link" href="#">Читать дальше</a>
          </p>
        </div>
      </div>
      <div class="reviews-card slick-slide">
        <div class="reviews-card-img-wrapper">
          <picture class="reviews-card-picture">
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.webp    1x,
                ./images/reviews/reviews-tablet-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.jpg    1x,
                ./images/reviews/reviews-tablet-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.webp    1x,
                ./images/reviews/reviews-mobile-1@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.jpg    1x,
                ./images/reviews/reviews-mobile-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews-card-img"
              src="./images/reviews/reviews-mobile-1.jpg"
              alt="студентка Тоня Кучеровская"
            />
          </picture>
          <a href="#" class="reviews-card-link">
            <svg
              class="reviews-card-icon"
              width="30"
              height="30"
              aria-label="Иконка Вконтакте"
            >
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews-text-wrapper">
          <h3 class="reviews-card-title">Тоня Кучеровская</h3>
          <p class="reviews-card-subtitle">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="reviews-card-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a class="reviews-text-link" href="#">Читать дальше</a>
          </p>
        </div>
      </div>
      <div class="reviews-card slick-slide">
        <div class="reviews-card-img-wrapper">
          <picture class="reviews-card-picture">
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.webp    1x,
                ./images/reviews/reviews-tablet-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.jpg    1x,
                ./images/reviews/reviews-tablet-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.webp    1x,
                ./images/reviews/reviews-mobile-1@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.jpg    1x,
                ./images/reviews/reviews-mobile-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews-card-img"
              src="./images/reviews/reviews-mobile-1.jpg"
              alt="студентка Тоня Кучеровская"
            />
          </picture>
          <a href="#" class="reviews-card-link">
            <svg
              class="reviews-card-icon"
              width="30"
              height="30"
              aria-label="Иконка Вконтакте"
            >
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews-text-wrapper">
          <h3 class="reviews-card-title">Тоня Кучеровская</h3>
          <p class="reviews-card-subtitle">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="reviews-card-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a class="reviews-text-link" href="#">Читать дальше</a>
          </p>
        </div>
      </div>
      <div class="reviews-card slick-slide">
        <div class="reviews-card-img-wrapper">
          <picture class="reviews-card-picture">
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.webp    1x,
                ./images/reviews/reviews-tablet-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.jpg    1x,
                ./images/reviews/reviews-tablet-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.webp    1x,
                ./images/reviews/reviews-mobile-1@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.jpg    1x,
                ./images/reviews/reviews-mobile-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews-card-img"
              src="./images/reviews/reviews-mobile-1.jpg"
              alt="студентка Тоня Кучеровская"
            />
          </picture>
          <a href="#" class="reviews-card-link">
            <svg
              class="reviews-card-icon"
              width="30"
              height="30"
              aria-label="Иконка Вконтакте"
            >
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews-text-wrapper">
          <h3 class="reviews-card-title">Тоня Кучеровская</h3>
          <p class="reviews-card-subtitle">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="reviews-card-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a class="reviews-text-link" href="#">Читать дальше</a>
          </p>
        </div>
      </div>
      <div class="reviews-card slick-slide">
        <div class="reviews-card-img-wrapper">
          <picture class="reviews-card-picture">
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.webp    1x,
                ./images/reviews/reviews-tablet-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.jpg    1x,
                ./images/reviews/reviews-tablet-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.webp    1x,
                ./images/reviews/reviews-mobile-1@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.jpg    1x,
                ./images/reviews/reviews-mobile-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews-card-img"
              src="./images/reviews/reviews-mobile-1.jpg"
              alt="студентка Тоня Кучеровская"
            />
          </picture>
          <a href="#" class="reviews-card-link">
            <svg
              class="reviews-card-icon"
              width="30"
              height="30"
              aria-label="Иконка Вконтакте"
            >
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews-text-wrapper">
          <h3 class="reviews-card-title">Тоня Кучеровская</h3>
          <p class="reviews-card-subtitle">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="reviews-card-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a class="reviews-text-link" href="#">Читать дальше</a>
          </p>
        </div>
      </div>
      <div class="reviews-card slick-slide">
        <div class="reviews-card-img-wrapper">
          <picture class="reviews-card-picture">
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.webp    1x,
                ./images/reviews/reviews-tablet-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-tablet-1.jpg    1x,
                ./images/reviews/reviews-tablet-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.webp    1x,
                ./images/reviews/reviews-mobile-1@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/reviews-mobile-1.jpg    1x,
                ./images/reviews/reviews-mobile-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews-card-img"
              src="./images/reviews/reviews-mobile-1.jpg"
              alt="студентка Тоня Кучеровская"
            />
          </picture>
          <a href="#" class="reviews-card-link">
            <svg
              class="reviews-card-icon"
              width="30"
              height="30"
              aria-label="Иконка Вконтакте"
            >
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="reviews-text-wrapper">
          <h3 class="reviews-card-title">Тоня Кучеровская</h3>
          <p class="reviews-card-subtitle">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="reviews-card-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a class="reviews-text-link" href="#">Читать дальше</a>
          </p>
        </div>
      </div>
    </div>
    ​
    <div class="wrapper">
      <!-- <div class="wrapper__container"> -->
      <div class="wrapper__item">
        <img class="wrapper__img" src="./images/reviews/img.png" alt="" />
      </div>
      <div class="wrapper__item">
        <img class="wrapper__img" src="./images/reviews/img.png" alt="" />
      </div>
      <div class="wrapper__item">
        <img class="wrapper__img" src="./images/reviews/img2.png" alt="" />
      </div>
      <div class="wrapper__item">
        <img class="wrapper__img" src="./images/reviews/img3.png" alt="" />
      </div>
      <div class="wrapper__item">
        <img class="wrapper__img" src="./images/reviews/img4.png" alt="" />
      </div>
      <div class="wrapper__item">
        <img class="wrapper__img" src="./images/reviews/img5.png" alt="" />
      </div>
      <div class="wrapper__item">
        <img class="wrapper__img" src="./images/reviews/img6.png" alt="" />
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>
